DB_HOST=195.35.7.223
DB_NAME=germanlaw-ai
DB_PORT=27017
DB_USER=root
DB_PASSWORD=example
THROTTLER_SHORT_NAME=short
THROTTLER_MEDIUM_NAME=medium
THROTTLER_LONG_NAME=long
THROTTLER_SHORT_TTL=1000
THROTTLER_MEDIUM_TTL=10000
THROTTLER_LONG_TTL=60000
THROTTLER_SHORT_LIMIT=3
THROTTLER_MEDIUM_LIMIT=20
THROTTLER_LONG_LIMIT=100
MAIL_HOST=smtp.zoho.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_IGNORE_TLS=true
MAIL_USER=sekretariat@meinjustus.de
MAIL_PASSWORD="1606MJG4#"
MAIL_SENDER_NAME='MEIN JUSTUS'
MAIL_VERIFICATION_HOST=http://localhost:3000/api
JWT_SECRECT_KEY=bXfW6ARGUihfZUrhMnV82aZzaDyxzM
JWT_EXPIRES_IN=1d
# Google Authentication Enviroment Variables
GOOGLE_CLIENT_ID = "149883907678-a3hbaav1d513uujomiptve3jm7thh6dg.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "z5BYROvv8R6dlnaIt3W50a5m"
GOOGLE_AUTH_REDIRECT = "http://localhost:3001/api/auth/google/redirect"
ADMINISTRATOR_MAIL="administrator@gmail.com"
ADMINISTRATOR_PASSWORD="Admin@123#"
STRIPE_SECRET_KEY="sk_test_51OXGlCAUKFnyNYU6uyiomQF2VF7KxicarCL24oyWZJFVein9pU83nG6ldFL9SxDJffscf8Xr5Bh6FEeh3ead8uQs00r73Sp2zh"
RMQ_HOST="localhost"
CONTACT_FORM_MAIL="excel.azmin@gmail.com"
IS_USE_GMAIL=true
